fieldset {
  border: none;

  &:disabled {
    opacity: 0.8;
    user-select: none;
    pointer-events: none;
  }
}

label {
  font-size: 0.8rem;
  font-weight: 700;
  display: block;
  margin-bottom: spacing(1);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  display: block;
  background-color: white;
  padding: 8px 16px;
  font-size: 1rem;
  width: 100%;

  border-bottom: 2px solid $primary;

  &:focus {
    border-bottom-color: $secondary;
    outline: none;
  }
}
