body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $fontfam;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: $secondary;
  background-image: $gradient;
}

* {
  box-sizing: border-box;
}

input {
  border: none;
  appearance: none;
}

::placeholder {
  color: #bbb;
  font-style: italic;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
