@function spacing($space) {
  @return 4px * $space;
}

.m-r-1 {
  margin-right: spacing(1);
}

.m-l-1 {
  margin-left: spacing(1);
}

.m-t-2 {
  margin-top: spacing(2);
}

.m-t-4 {
  margin-top: spacing(4);
}

.m-b-4 {
  margin-bottom: spacing(4);
}

.stretch {
  width: 100%;
}

.area {
  width: 100%;
  height: 100%;
}
.box {
  text-align: left;
  width: 400px;
  margin: 0 auto;
}
